<h1><%= @author.name %> </h1>
  <br>

<h2>Book Titles: </h2>
<% @author.books.each do |book| %>
  <p><%= book.title %> </p>
<% end %>
  <br>

<h3>Average Pages per Book: </h3>
  <p><%= @author.average_pages %> </p>
